@mixin flex($justify: center, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin abc() {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
