$whiteColor: #f5f5f5;
$whiteColor02:#fff;
$blackColor: #3d3d3d;
$grayColor:#dcdcdc;
$accentColor: #AFDDC6;
$mainColor:#F6C7BC;
$subColor:#FEDFA9;
$btnBottom:#D4A9AE;
$btnBottom02:#92C2AA;
$openingAnimation:#ffecec;

$imgDir: '../img/';

$fontFamily_En: 'Caveat', cursive;
$fontFamily_Jp: 'Kaisei Opti', serif;
$fontFamily_text: 'Noto Sans JP', sans-serif;
$fontFamily_number: 'Skranji', cursive;
$fontFamily_tokotonn:'Palette Mosaic', cursive;

$z_index_back:-1;
$z_index_default:0;
$z_index_menu:100;
$z_index_modal:200;
$z_index_header-img:250;
$z_index_hamburger:300;